<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>现有确诊病例对比</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- 引入 ECharts 文件 -->
    <script src="static/assets/js/echarts.min.js"></script>

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">

    <style>
        .clearfix::after {
            content: "";
            display: block;
            overflow: hidden;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .box-out {
            position: relative;
            #border: solid 1px #555;
            float: left;
            padding: 0px 10px;
        }

        .box-in {
            position: absolute;
            left: 0;
            top: 0px;
            right: 0;
            bottom: 0;
            margin: auto;
        }

        .title-in {
            position: absolute;
            top: 365px;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            height: 50px;
            line-height: 50px;
            font-size: 18px;
        }
    </style>

</head>

<body>

<!-- ======= Header ======= -->
<header id="header">
    <div class="container">

        <div class="logo float-left">
            <h1 class="text-light"><a href="{{ url_for('index') }}"><span>Maverick</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu float-right d-none d-lg-block">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/movie">疫情可视化动画展示</a></li>
                <li><a href="/map">中国新冠疫情实时数据地图</a></li>
                <li><a href="/pie">今日发生疫情省份统计</a></li>
                <li><a href="/rank">各省累计确诊排名</a></li>
            </ul>
        </nav>
        <!-- .nav-menu -->

    </div>
</header>
<!-- End Header -->

<!-- ======= 评分图展示 ======= -->
<section id="team" class="team">
    <div class="container">

        <div class="section-title">
            <h2>各省各国确诊病例对比</h2>
            <p>应用Python爬虫、Flask框架、Echarts等技术实现.</p>
        </div>

        <!-- ======= 预览板块 ======= -->
        <section class="counts section-bg">
            <div class="container">
                <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                <div id="dom1" style="width: 98%;height:650px;"></div>
            </div>
        </section>
        <!-- End Counts Section -->
    </div>
</section>
<!-- 结束 首页 -->


<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="container">
        <div class="copyright">Copyright &copy; 2020.Company name All rights reserved.</div>
        <div class="credits"></div>
    </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script src="static/assets/vendor/jquery/jquery.min.js"></script>
<script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<!--  <script src="static/assets/vendor/php-email-form/validate.js"></script>-->
<script src="static/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
<script src="static/assets/vendor/venobox/venobox.min.js"></script>
<script src="static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="static/assets/vendor/counterup/counterup.min.js"></script>
<script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="static/assets/vendor/aos/aos.js"></script>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('dom1'));

    var option;

    var updateFrequency = 500;
    var dimension = 0;

    var countryColors = {
        "Australia": "#00008b",
        "Canada": "#f00",
        "China": "#ffde00",
        "Cuba": "#002a8f",
        "Finland": "#003580",
        "France": "#ed2939",
        "Germany": "#000",
        "Iceland": "#003897",
        "India": "#f93",
        "Japan": "#bc002d",
        "North Korea": "#024fa2",
        "South Korea": "#000",
        "New Zealand": "#00247d",
        "Norway": "#ef2b2d",
        "Poland": "#dc143c",
        "Russia": "#d52b1e",
        "Turkey": "#e30a17",
        "United Kingdom": "#00247d",
        "United States": "#b22234"
    };

    $.when(
        $.getJSON('static/assets/data/provinceInfo.json'),
        $.getJSON('static/assets/data/provinceTotalConfirm.json')
    ).done(function (res0,res1) {
        var flags = res0[0];
        var data = res1[0];
        var years = [];
        for (var i = 0; i < data.length; ++i) {
            if (years.length === 0 || years[years.length - 1] !== data[i][4]) {
                years.push(data[i][4]);
            }
        }



        var startIndex = 0;
        var startYear = years[startIndex];

        var option = {
            grid: {
                top: 10,
                bottom: 30,
                left: 100,
                right: 80
            },
            xAxis: {
                max: 'dataMax',
                label: {
                    formatter: function (n) {
                        return Math.round(n);
                    }
                }
            },
            dataset: {
                source: data.slice(1).filter(function (d) {
                    return d[4] === startYear;
                })
            },
            yAxis: {
                type: 'category',
                inverse: true,
                {#max: 10,#}
                axisLabel: {

                    {#强制显示所有标签#}
                    interval:0,

                    show: true,
                    textStyle: {
                        fontSize: 14
                    },
                    {#formatter: function (value) {
                        return value + '{flag|' + getFlag(value) + '}';
                    },#}
                    rich: {
                        flag: {
                            fontSize: 25,
                            padding: 5
                        }
                    }
                },
                animationDuration: 100,
                animationDurationUpdate: 100
            },
            series: [{
                realtimeSort: true,
                seriesLayoutBy: 'column',
                type: 'bar',
                itemStyle: {
                    color: function (param) {
                        return countryColors[param.value[3]] || '#c65454';
                    }
                },
                encode: {
                    x: dimension,
                    y: 3
                },
                label: {
                    show: true,
                    precision: 1,
                    position: 'right',
                    valueAnimation: true,
                    fontFamily: 'monospace'
                }
            }],
            // Disable init animation.
            animationDuration: 0,
            animationDurationUpdate: updateFrequency,
            animationEasing: 'linear',
            animationEasingUpdate: 'linear',
            graphic: {
                elements: [{
                    type: 'text',
                    right: 160,
                    bottom: 60,
                    style: {
                        text: startYear,
                        font: 'bolder 80px monospace',
                        fill: 'rgba(100, 100, 100, 0.25)'
                    },
                    z: 100
                }]
            }
        };

        // console.log(option);
        myChart.setOption(option);

        for (var i = startIndex; i < years.length - 1; ++i) {
            (function (i) {
                setTimeout(function () {
                    updateYear(years[i + 1]);
                }, (i - startIndex) * updateFrequency);
            })(i);
        }

        function updateYear(year) {
            var source = data.slice(1).filter(function (d) {
                return d[4] === year;
            });
            option.series[0].data = source;

            var stringYear='';
            stringYear=parseInt(year/10000).toString()+'/'+parseInt(year%10000/100).toString()+'/'+(year%100).toString();
            option.graphic.elements[0].style.text = stringYear;

            myChart.setOption(option);
        }
    })


    option && myChart.setOption(option);
</script>

</body>

</html>